<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <div class="logo">
         <img src="assets/logo/logo.png">
        </div>
      </mat-toolbar>
      <div>  
        <input  type="text" placeholder="Pesquisar">
      </div>
    <mat-nav-list>
      <div class="menu-list">
      <a mat-list-item href="#">HOME</a>
      <a mat-list-item href="#">NOTICIAS</a>
      <a mat-list-item href="#">PERSONAGENS</a>
      <a mat-list-item href="#">QUADRINHOS</a>
      <a mat-list-item href="#">AUTORES</a>
      <a mat-list-item href="#">FILMES</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>HOME</span>
    </mat-toolbar>
    <!-- Add Content Here -->    
    <div class="container-fluid p-0">
      <div class="row m-1 p-0">
        <app-characters></app-characters>
      </div>
    </div>
    <div class="container-fluid p-0">
      <div class="row m-1 p-0">
        <div>
          <app-appmarvel-footer></app-appmarvel-footer>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
