.sidenav-container {
  height: 100%;
  background-color: #3e3e44;
}

.sidenav {
  width: 200px;
  background-color: #3e3e44;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #3e3e44;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #3e3e44;
}

.logo img {
  position: relative;
  width: 100%;
}

.menu-list .mat-list-item {
  color:#ffff;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}

.menu-list .mat-list-item:hover{
  color:#ff5641;
}

input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 35px;
  border-radius: 10px;
  border-color: none;

}

input:hover {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 35px;
  border-radius: 10px;
  border-color: #ff5641;

}
 